@media (max-width: 1365px) {
  .text a {
    font-size: 16px;
  }
}

@media (max-width: 944px) {
  .logos img {
    height: 80px;
  }
}

@media (max-width: 790px) {
  .hero-section {
    height: 650px;
  }
  .images {
    margin-top: 65px;
  }
  .google {
    width: 120px;
  }
  .iphone {
    width: 330px;
  }
  .appstore {
    width: 120px;
  }
  .icon {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0 50px;
  }

  .ion2 {
    height: 95%;
  }
  .cloud {
    margin-top: -40px;
  }
  .diamond {
    margin-top: 0;
  }
  .work {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .img img {
    width: 80%;
    margin-left: 80px;
  }

  .how-work {
    padding: 0 40px 50px 60px;
    margin-top: 50px;
  }

  .garren-text h2 {
    font-size: 30px;
  }

  .ellipsis {
    margin-left: 78px;
  }
  .section-wrote {
    padding: 40px 0 50px 0;
  }

  .heading-wrote h2 {
    font-size: 30px;
    margin-top: 55px;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .forbes {
    padding: 30px;
    justify-self: center;
  }

  .new-york {
    padding: 10px;
    justify-self: center;
  }

  .wall {
    padding: 30px;
    justify-self: center;
  }

  .mashable {
    padding: 30px;
    justify-self: center;
  }

  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 50px;
  }

  .cim {
    text-align: center;
  }

  .contact ul {
    margin-left: 35px;
  }

  .icons-4 {
    display: flex;
    padding-top: 0;
  }

  .cta-form {
    margin-right: 45px;
  }

  .copyright {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

@media (max-width: 625px) {
  .header {
    padding-bottom: 50px;
  }

  .logo {
    padding-left: 30px;
  }

  .logo p {
    font-size: 16px;
  }

  .menu {
    height: 40px;
    width: 40px;
    padding-right: 30px;
  }

  .container {
    padding: 0 0;
  }

  .hero-section {
    height: 677px;
  }

  .hero .text h1 {
    font-size: 23px;
  }

  .hero .text a {
    font-size: 12px;
  }

  .images {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  .google {
    width: 80px;
    justify-self: center;
    margin-top: auto;
    margin-bottom: 10px;
  }

  .google:nth-child(1) {
    grid-row: 2;
  }

  .iphone {
    width: 260px;
    justify-self: center;
  }

  .appstore {
    width: 80px;
    justify-self: center;
    margin-top: auto;
  }

  .icons {
    margin-top: 150px;
  }

  .ion {
    margin-bottom: 5px;
    height: 40px;
    width: 40px;
  }

  .how-work h2 {
    font-size: 30px;
  }

  .box {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .item-1:nth-child(1) {
    /*grid-column: 1;  -igy kell, ha tobb kolona van*/
    grid-row: 2; /*helyet csereljen a 2 item*/
  }

  .how-work {
    text-align: center;
    margin-top: 30px;
  }

  .how-work h2 {
    /*padding-bottom: 20px;*/
    font-size: 25px;
  }

  .img img {
    width: 90%;
    margin-left: 45px;
  }

  .ion2 {
    margin-top: 20px;
    margin-left: 15px;
  }

  .about-us {
    height: 500px;
  }

  .about {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-top: 40px;
    gap: 12px;
  }

  .garren-img img {
    width: 45%;
    margin: 0;
    margin-left: 65px;
    margin-top: 72px;
  }

  .garren-img:nth-child(1) {
    grid-row: 2;
  }

  .garren-text {
    width: 100%;
    height: 215px;
    margin: 0;
    text-align: center;
    padding: 10px px;
  }

  .garren-text h2 {
    font-size: 25px;
    margin-bottom: -30px;
  }

  .garren-text p {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ellipsis {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 70px;
  }

  .logos {
    display: grid;
    grid-template-columns: 1fr;
  }

  .icons-4 {
    gap: 10px;
  }

  .newsletter {
    margin-left: 30px;
  }
}
